<h1>Tickets</h1>

<div class="">
  <%= link_to new_ticket_path do %>
    <button type="button" name="button">new ticket</button>
  <% end %>
</div>

<!-- TABS -->
<a href="#mine">Assigned to me</a>
<a href="#open">Open</a>
<a href="#closed">Close</a>
