<header>
  <%= link_to root_path, class: 'title' do %>
    <%= image_tag "logo.svg", height: 32, width: 32 %>
    <h1 class="inline">
      Tilleul
    </h1>
  <% end %>
  <div class="right">
    <%= link_to('Logout', destroy_technician_session_path, method: :delete) if technician_signed_in? %>
  </div>
</header>
